@model List<StoreXY.DTOs.ListOrderDTO>
@using StoreXY.DTOs;
@using StoreXY.Web.Controllers;
@using StoreXY.ResourcesManager;
@using StoreXY.CrossLayer.Enum;

<div class="row">
    @if (Model.Count > 0)
    {
        <table class="table table-responsive">
            <tr>
                <th>@Resources.GetMessage("Id")</th>
                <th>@Resources.GetMessage("Name")</th>
                <th>@Resources.GetMessage("Email")</th>
                <th>@Resources.GetMessage("Mobile")</th>
                <th>@Resources.GetMessage("Status")</th>
                <th>@Resources.GetMessage("Client")</th>
                <th>@Resources.GetMessage("Actions")</th>
            </tr>
            @foreach (ListOrderDTO order in Model)
            {
                <tr>
                    <td>@order.id</td>
                    <td>@order.customer_name</td>
                    <td>@order.customer_email</td>
                    <td>@order.customer_mobile</td>
                    <td>@order.status</td>
                    <td>@order.nameClient</td>
                    <td>
                        @{
                            if (order.status == OrderStatusEnum.CREATED.ToString())
                            {
                                @Html.ActionLink(Resources.GetMessage("Pay"), OrderController.ActionsOrder.OrderDetail.ToString(), new { idOrder = order.id }, new { @class = "btn btn-success" });
                            }
                            if (order.status == OrderStatusEnum.PAYED.ToString())
                            {
                                @Html.Label(Resources.GetMessage("Paid").ToString())
                            }
                            if (order.status == OrderStatusEnum.REJECTED.ToString())
                            {
                                @Html.ActionLink(Resources.GetMessage("RetryPayment"), OrderController.ActionsOrder.OrderDetail.ToString(), new { idOrder = order.id }, new { @class = "btn btn-primary" });
                            }
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <h3>@Resources.GetMessage("NoOrdersFound")</h3>
    }
</div>
